In [53]:
import pandas as pd

solar_data = pd.read_csv('data/solarpower.csv')

def prop (columns):
    if columns == -1:
        columns = 24126.5
    else:
        columns = columns
    return columns
solar_data['cum_power'] = solar_data['cum_power'].apply(prop)

#display(solar_data['cum_power'].mean())

solar_data['day_power'] = solar_data['date']


solar_data.head()

         date  cum_power   day_power
0  2017-01-01    20111.0  2017-01-01
1  2017-01-02    20112.0  2017-01-02
2  2017-01-03    20115.0  2017-01-03
3  2017-01-04    20117.0  2017-01-04
4  2017-01-05    20119.0  2017-01-05

In [51]:
import pandas as pd

23775.573795180724